@import "tailwindcss";

:root {
  --background: #f8f9fb;
  --foreground: #1c1f26;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fb;
  color: #1c1f26;
  font-family: "Georgia", serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

::selection {
  background: rgba(28, 43, 69, 0.2);
  color: #1c1f26;
}
